.container {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto;
}

.header, .section, .footer {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .header, .section, .footer {
    text-align: center;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
}

@media (min-width: 1001px) {
  .section {
    margin: 0 20px;
  }
}
